* {
    font-family: Helvetica;
}

header, footer {
    background-color: #B3BC6D;
    color: white;
    text-align: center;
    padding: 5px;
    clear: both;
}

section#top {
    background-color: #FFFFCE;
    color: Olive;
    padding: 10px 150px;
}

section#left, section#right {
    background-color: #E6EE9C;
    width: 25%;
    height: 450px;
    text-align: center;
    float: left;
}

section#middle {
    background-color: #FFFFCE;
    width: 50%;
    height: 450px;
    float: left;
}

table {
    border: 1px solid Olive;
    margin: auto;
    width: 70%;
}

h2 {
    text-align: center;
}

h2::first-letter {
    font-size: 150%;
    color: Olive;
}

img {
    height: 100px;
    padding: 7px;
}

img:hover {
    background-color: #B3BC6D;
}