* {
    font-family: Verdana;
}

body {
    background-color: #F6E5DC;
}

header {
    background-color: #2F180C;
    text-align: center;
    color: khaki;
    height: 60px;
}

section#left {
    width: 60%;
    float: left;
}

section#right {
    font-size: 150%;
    padding: 70px;
    float: left;
}

section#bottom {
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
    clear: both;
}

footer {
    background-color: #2F180C;
    color: khaki;
    height: 60px;
}

img {
    height: 350px;
}

input[type=submit], input[type=reset] {
    margin: 10px;
    padding: 5px;
    background-color: #2F180C;
    color: khaki;
}